{% extends 'orders/order_list.html' %}

{% block content %}

    <h1 class="m-4">Order Form</h1>    

    <form method="POST" class="m-4">
        {% csrf_token %}
        {{ form.errors}}
        {% for field in form %}

            <div class="form">
                <label for="{{ field.id_for_label}}">{{ field.label }}</label>
                {{ field }}
            </div>

        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      
{% endblock %}