<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>order Form</h1>


    {% block content %}

        <form method="POST">
            {% csrf_token %}
            {{ form.errors}}

            <div>
                {{ form.customer_name}}
            </div>
            
            <div>
                {{ form.product_name}}
            </div>
            <div>
                {{ form.quantity}}
            </div>

            <div>
                <button type="submit">Place Order</button>
            </div>

        </form>

    {% endblock %}

</body>
</html>